/*---------------------MEDIA FOR 1200px---------------------*/
@media screen and (min-width:1200px){
    .Tasks{
        width: 45%;
        margin: 3.5% 4% 10% 0%;
        float: right;
        font-size:18px;
        text-align: center;
    }
    th,td{
        width: 20%;
        height: 30px;
        text-align:center;
        font-size:15px;
    }
    #Content{
        width: 45%;
        position: fixed;
        margin : 5% 0% 0% 3%;
        font-size:18px;
        text-align: center;
    }
    #FormAdd{
        width: 100%;
        margin: 5% 0% 0% 12%;
        float: left;
    }
    #FormAdd input{
        width: 70%;
        height: 35px;
        margin-top: 2%;
        display: block;
        font-size: 20px;
        text-align: center;
    }
    #FormAdd input[type=date]{
        width: 70.5%;
    }
    #FormAdd input[type=submit]{
        width: 20%;
        margin-left: 25%;
        height: 35px;
        display: block;
        font-size: 15px;
        cursor: pointer;
    }
    #CompButton input{
        width: 70%;
        height: 35px;
        margin: 4% 0% 0% -5%;
        cursor: pointer;
    }
    #HideThis{
        display: none;
    }
}
