/*---------------------MEDIA FOR 800-1000px---------------------*/
@media (min-width:800px) and (max-width:1000px){
    .Tasks{
        width: 60%;
        margin: 3.5% 2% 10% 0%;
        float: right;
        font-size:15px;
        text-align: center;
    }
    th,td{
        width: 20%;
        height: 30px;
        text-align:center;
        font-size:13px;
    }
    #Content{
        width: 35%;
        position: fixed;
        margin : 5% 0% 0% 5%;
        font-size:15px;
        text-align: center;
    }
    #Content h1{
        margin-right: 10%;
    }
    #FormAdd{
        width: 100%;
        margin: 5% 0% 0% 5%;
        float: left;
    }
    #FormAdd input{
        width: 70%;
        height: 35px;
        margin-top: 2%;
        display: block;
        font-size: 15px;
        text-align: center;
    }
    #FormAdd input[type=date]{
        width: 70.5%;
    }
    #FormAdd input[type=submit]{
        width: 20%;
        margin-left: 25%;
        height: 35px;
        display: block;
        font-size: 12px;
        cursor: pointer;
    }
    #CompButton input{
        width: 70%;
        height: 35px;
        margin: 4% 0% 0% -18%;
        cursor: pointer;
    }
    #HideThis{
        display: none;
    }
}
